# CUE file snippets
# @see http://en.wikipedia.org/wiki/Cue_sheet_%28computing%29
# @see http://baike.baidu.com/view/444129.htm
# @see http://baike.baidu.com/view/727999.htm
# @author 闲耘 (mail[AT]xianyun.org)
# @version 2009/11/10
snippet cue
	TITLE "${1}"
	PERFORMET "${2}"
	FILE "${3}" ${4:WAVE}
		TRACK 01 ${5:AUDIO}
			TITLE "${6}"
			PERFORMET "${7}"
			INDEX ${8:01} ${9:00}:${10:00}:${11:00}
snippet template
	TITLE "${1}"
	PERFORMET "${2}"
	FILE "${3}" ${4:WAVE}
		TRACK 01 ${5:AUDIO}
			TITLE "${6}"
			PERFORMET "${7}"
			INDEX ${8:01} ${9:00}:${10:00}:${11:00}
snippet track
	TRACK ${1:02} ${2:AUDIO}
		TITLE "${6}"
		PERFORMET "${7}"
		INDEX ${8:01} ${9:00}:${10:00}:${11:00}
snippet TRACK
	TRACK ${1:02} ${2:AUDIO}
		TITLE "${6}"
		PERFORMET "${7}"
		INDEX ${8:01} ${9:00}:${10:00}:${11:00}
