snippet template
	<?xml version="1.0" encoding="utf-8"?>
	<mx:Application xmlns:mx="http://www.adobe.com/2006/mxml" layout="${1:absolute}">
		${2}
	</mx:Application>
snippet mx:app
	<?xml version="1.0" encoding="utf-8"?>
	<mx:Application xmlns:mx="http://www.adobe.com/2006/mxml" layout="${1:absolute}">
		${2}
	</mx:Application>
snippet mx:application
	<?xml version="1.0" encoding="utf-8"?>
	<mx:Application xmlns:mx="http://www.adobe.com/2006/mxml" layout="${1:absolute}">
		${2}
	</mx:Application>
snippet mx:button
	<mx:Button label="${1}" />
snippet mx:label
	<mx:Label text="${1}" />
snippet xm:textinput
	<mx:TextInput ${1}/>
snippet mx:applicationcontrolbar
	<mx:ApplicationControlBar>
		${1}
	</mx:ApplicationControlBar>
snippet mx:controlbar
	<mx:ControlBar>
		${1}
	</mx:ControlBar>
snippet mx:panel
	<mx:Panel title="${1}" layout="vertical" width="100%">
		${2}
	</mx:Panel>
snippet mx:form
	<mx:Form>
		<mx:FormHeading label="${1}" />
		<mx:FormItem label="${2}">
			<mx:TextInput />
		</mx:FormItem>
	</mx:Form>
snippet mx:formitem
	<mx:FormItem label="${1}">
		<mx:TextInput />
	</mx:FormItem>
snippet mx:grid
	<mx:Grid>
		<mx:GridRow>
			<mx:GridItem>
				${1}
			</mx:GridItem>
		</mx:GridRow>
	</mx:Grid>
snippet mx:array
	<mx:Array id="${1}">
		${2}
	</mx:Array>
snippet mx:string
	<mx:String>${1}</mx:String>
snippet mx:list
	<mx:List dataProvider="{${array_data}}"></mx:List>
snippet mx:tree
	<mx:Tree labelField="@label" dataProvider="{${data}}"></mx:Tree>
snippet mx:script
	<mx:Script><![CDATA[
		${1}
	]]></mx:Script>
snippet mx:script2
	<mx:Script source="${1}" />
