# Global snippets

# (c) holds no legal value ;)
# Copyleft
snippet (c
	`&enc[:2] == "utf" ? "©" : "(c)"` Copyleft `strftime("%Y")` ${1:`g:snips_author`}. Some Rights Reserved.${2}
# Copyright
snippet c)
	`&enc[:2] == "utf" ? "©" : "(c)"` Copyright `strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
snippet date
	`strftime("%Y/%m/%d")`
snippet date-
	`strftime("%Y-%m-%d")`
snippet time
	`strftime("%Y/%m/%d %H:%M:%S")`
snippet time-
	`strftime("%Y-%m-%d %H:%M:%S")`
snippet week
	`strftime("%A")`
snippet xianyun
	 _  ___
	  \/ _/
	 _/ /ian__
	/__/\ \/ /
		 \  /
		 /_/un
snippet more
	`JoinMoreText(1)`
snippet 2more
	`JoinMoreText(2)`
snippet 3more
	`JoinMoreText(3)`
snippet 4more
	`JoinMoreText(4)`
snippet 5more
	`JoinMoreText(5)`
snippet 6more
	`JoinMoreText(6)`
snippet 7more
	`JoinMoreText(7)`
snippet 8more
	`JoinMoreText(8)`
snippet 9more
	`JoinMoreText(9)`
snippet 10more
	`JoinMoreText(10)`
snippet 20more
	`JoinMoreText(20)`
snippet 30more
	`JoinMoreText(30)`
snippet 40more
	`JoinMoreText(40)`
snippet 50more
	`JoinMoreText(50)`
snippet 100more
	`JoinMoreText(100)`
snippet template
	`LoadTemplate()`
