# windows media play list snipMate
# @author 闲耘™
snippet asx
	<asx version="3.0">
	    <param name="AllowShuffle" value="yes" />
	    <title>${1:Unamed Title}</title>

	    <entry>
	        <title>${2}</title>
	        <ref href="${3:url}" />
	        <banner href="${4}" />
	        <moreinfo href="${5}" />
	    </entry>
	</asx>
snippet entry
	<entry>
	    <title>${1:title}</title>
	    <ref href="${2:url}" />
	</entry>
snippet entry2
	<entry>
	    <title>${1:title}</title>
	    <ref href="${2:url}" />
	    <banner href="${4}" />
	    <moreinfo href="${5}" />
	</entry>
