# calendar filetype snippets for calendar.vim
# author 闲耘™ (hotoo.cn[AT]gmail.com)
# version 2010/07/22
snippet diary
	= Diary `strftime("%Y/%m/%d")` =
	${2}

	 diary:datetime=`strftime("%Y/%m/%d %H:%M:%S")`:weather=${1}
snippet gtddiary

	= Works =
	${1}

	= Lifes =
	${2}

	= Learn =
	${3}

	= Others =
	${4}
snippet morningdiary

	= Works =
	${1}

	= Lifes =
	${2}

	= Learn =
	${3}

	= Others =
	${4}
