# SVG snipMate
# @author 闲耘 (mail[AT]xianyun.org)
# @see http://www.w3school.com.cn/svg/
snippet svg
	<?xml version="1.0" standalone="no"?>
	<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN"
	"http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">

	<svg width="${1:100%}" height="${2:100%}" version="1.1"
	xmlns="http://www.w3.org/2000/svg">

	${3:}

	</svg>
snippet rect
	<rect x="${1:0}" y="${2:0}"
		width="${3:100%}" height="${4:100%}"
		rx="${5:0}" ry="${6:0}"
		style="fill:${7:white}; stroke:${8:black}; stroke-width:${9:1}; opacity:${10:0}" />${11}
snippet juxing
	rect
snippet fang
	rect
snippet circle
	<circle cx="${1:0}" cy="${2:0}" r="${3:50}"
		stroke="${4:black}" stroke-width="${5:1}" fill="${6:white}" />${7}
snippet yuan
	circle
snippet ellipse
	<ellipse cx="${1:0}" cy="${2:0}" rx="${3:400}" ry="${4:300}"
		style="fill:${5:perple}; stroke:${6:#000}; stroke-width:${7:1};" />
snippet tuoyuan
	ellipse
snippet line
	<line x1="${1:0}" y1="${2:0}" x2="${3:400}" y2="${4:300}"
		style="stroke:${5:#999}; stroke-width:${6:2}" />${7}
snippet xian
	line
snippet zhixian
	line
snippet polygon
	<polygon points="${1:220,100 300,210, 170,250}"
		style="fill:${2:#ccc}; stroke:${3:#000}; stroke-width:${4:1};" />
snippet duobianxing
	polygon
snippet duobianxin
	polygon
snippet dbx
	polygon
snippet polyline
	<polyline points="${1:0,0 0,20, 20,20, 20,40 40,40 40,60}"
		style="fill:${2:white}; stroke:${3:red}; stroke-width:${4:1};" />
snippet zhexian
	polyline
snippet path
	<path d="${1:M250 150 L150 350 L350 350 Z}" />
snippet mian
	path
