# @author 闲耘™(hotoo.cn[AT]gmail.com)
# @version 2010/10/25
snippet for
	#foreach(${1:$item} in ${2:list})
		${3}
	#end
snippet if
	#if(${1:true})
		${2}
	#end
snippet else
	#else
		${1}
snippet elseif
	#elseif(${1:true})
		${2}
snippet set
	#set($${1:var} = ${2:value})
