# Vimwiki file.
snippet vimscript
	= [http://www.vim.org/scripts/script.php?script_id=${1:ID} ${2:VimScriptName}] =

	作者：[http://www.vim.org/account/profile.php?user_id=${3:ID} ${4:AUTHOR}]

	脚本类型：${5:公用}(${6:utility})

	== 描述 ==
	${7}

	== 安装细节 ==
	${8}
snippet blog
	%title $1

	= ${1:title} =
	${2:content}

	 blog:datetime=`strftime("%Y/%m/%d %H:%M:%S")`:tags=${3}
snippet code
	{{{class="${1:code}"
	${2}
	}}}
